<ul class="list-group">
  <h2 class="info">Buscar</h2>
  <button
    routerLinkActive="active"
    routerLink="countries/by-capital"
    class="list-group-item text-start"
  >
    Por Capital
  </button>
  <button
    routerLinkActive="active"
    routerLink="countries/by-country"
    class="list-group-item text-start"
  >
    Por país
  </button>

  <button
    routerLinkActive="active"
    routerLink="countries/by-region"
    class="list-group-item text-start"
  >
    Por región
  </button>
</ul>
